<h3><%= title %></h3>
<ul>
  <% items_from_slot(items, slot).uniq.each do |item| %>
    <li>
      <%= link_to "//us.battle.net/d3/en/#{item.data['tooltipParams']}", class: "tooltip-link #{item.data['displayColor']}", onclick: 'return false' do %>
        <%= image_tag "http://us.media.blizzard.com/d3/icons/items/large/#{item.data['icon']}.png", height: 50 %>
        <span class='item-title'><%= item.data['name'] %></span>
        <span class='count'>(<%= pluralize(item.builds.count, 'build') %>)</span>
      <% end %>
    </li>
  <% end %>
</ul>
