<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<%= render partial: "slot_list", locals: {items: @items, title: 'Head', slot: 'head'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Shoulders', slot: 'shoulder'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Chest', slot: 'chest'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Belts', slot: 'waist'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Legs', slot: 'legs'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Gloves', slot: 'hands'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Bracers', slot: 'bracers'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Boots', slot: 'feet'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Amulets', slot: 'neck'} %>
<%= render partial: "slot_list", locals: {items: @items, title: 'Rings', slot: 'left-finger'} %>

<br />

<%= link_to 'New Build', new_v1_build_path %>
