/******************************************************************************/
// config/_colors.scss
//
// DESCRIPTION: Establishes the brand colors. Only colors relative to the brand
// definition live here.
//

$cream: #a99877;
$black: #0b0c11;
$white: #ffffff;

$green: #8bd442;
$orange: #bf642f;

$dark-red: #541400;

$brown: #171614;
$light-brown: #28241d;

$link-color: #ad835a;
$header-color: #f3e6d0;
$subtitle-color: #7b6d55;
