@font-face {
  font-family: 'Exocet Blizzard Light';
  src: url('/assets/fonts/exocet-blizzard-light.ttf?ffrngr') format('truetype'),
  url('/assets/fonts/exocet-blizzard-light.woff?ffrngr') format('woff');
  font-weight: normal;
  font-style: normal;
}

$sans-font: "Arial", sans-serif;
$serif-font: "Exocet Blizzard Light", "Palatino Linotype", serif;

$body-font: $sans-font, sans-serif;
$header-font: $serif-font;

$header-font-family: $header-font;
$header-font-weight: 300;
$header-font-style: normal;
$header-line-height: 1.4;
$header-top-margin: .2rem;
$header-margin-bottom: .5rem;
$header-text-rendering: optimizeLegibility;

$base-font-size: 100%;
$base-line-height: 150%;
$body-font-family: $body-font;
$body-font-weight: normal;
$body-font-style: normal;

$paragraph-font-family: inherit;
$paragraph-font-weight: 200;
$paragraph-font-size: rem-calc(18px);
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: 30px;
$paragraph-aside-font-size: rem-calc(14);
$paragraph-aside-line-height: 1.35;
$paragraph-aside-font-style: italic;
$paragraph-text-rendering: optimizeLegibility;

h1,
h2,
h3,
h4 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  color: $header-color;
  margin-bottom: $header-margin-bottom;
  line-height: $header-line-height;
  text-rendering: $header-text-rendering;
}

h1,
h2,
h3 {
  font-family: $serif-font;
}

p {
  font-family: $paragraph-font-family;
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  margin-bottom: $paragraph-margin-bottom;
  line-height: $paragraph-line-height;
  text-rendering: $paragraph-text-rendering;
}
