@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.eot?ffrngr');
  src: url('/assets/fonts/icomoon.eot?ffrngr#iefix') format('embedded-opentype'),
  url('/assets/fonts/icomoon.ttf?ffrngr') format('truetype'),
  url('/assets/fonts/icomoon.woff?ffrngr') format('woff'),
  url('/assets/fonts/icomoon.svg?ffrngr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-base,
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
