.builds__wrapper {
  .sidebar {
    background-color: rgba($brown, .5);
    background-image: url('//us.battle.net/d3/static/images/db/navigation-bg.jpg');
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
  }

  .content {
    position: absolute;
    left: 220px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
