.home__wrapper {
  .login-panel {
    // background: $brown;
    // padding: 40px;
  }

  .login-button {
    background-color: #21b0f1;
    background-image: linear-gradient(#37c0ff, #0097dd);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 0;
    height: 50px;
    margin: 0 auto;
    position: relative;
    width: 200px;

    &:after {
      background-image: url('http://us.battle.net/static/local-common/images/logos/bnet-default.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      position: absolute;
      margin: 5px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
