<p id="notice"><%= notice %></p>

<h1>Listing Builds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <%= binding.pry %>
      <tr>
        <td><%= build.title %></td>
        <td><%= build.url %></td>
        <td><%= link_to 'Show', v1_build_path(build) %></td>
        <td><%= link_to 'Edit', edit_v1_build_path(build) %></td>
        <td><%= link_to 'Destroy', v1_build_path(build), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Build', new_v1_build_path %>
