<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @build.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @build.url %>
</p>

<p>
  <strong>Data:</strong>
  <%= @build.data %>
</p>

<p>
  <strong>Source:</strong>
  <%= @build.source %>
</p>

<p>
  <strong>Source ID:</strong>
  <%= @build.source_id %>
</p>

<p>
  <strong>Fetched At:</strong>
  <%= @build.fetched_at %>
</p>

<p>
  <strong>Items</strong>
  <ul>
  <% @build.items.each do |item| %>
    <li><%= item.blizzard_id %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_v1_build_path(@build) %> |
<%= link_to 'Back', v1_builds_path %>
