doctype html
html
  head
    base(href="/")
    title your app
    //- vendor:css
    //- endinject
    //- head:css
    //- endinject
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(href="./index.css" rel="stylesheet" type="text/css")
    link(rel="icon" href="./assets/images/favicon.png" type="image/png")
  body

    #content
    //- vendor:js
    //- endinject
    script(src="./main.js")
    script(src="//us.battle.net/d3/static/js/tooltips.js")
