@import "../assets/css/reset";
@import './bower_components/foundation/scss/normalize';

// foundation settings
@import './bower_components/foundation/scss/foundation/settings';

// our libraries need to be imported after reset and normalize
@import "../assets/css/icons";
@import "../assets/css/colors";
@import '../assets/css/fonts';

// foundation components
@import './bower_components/foundation/scss/foundation/components/type';
@import './bower_components/foundation/scss/foundation/components/grid';
@import './bower_components/foundation/scss/foundation/components/block-grid';
@import './bower_components/foundation/scss/foundation/components/type';
@import './bower_components/foundation/scss/foundation/components/visibility';
@import './bower_components/foundation/scss/foundation/components/flex-video';

// inject:scss
// endinject

body {
  background-color: $black;
  color: $cream;
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: $base-font-size;
  font-style: $body-font-style;
  line-height: $base-line-height;
}

.max-row {
  @extend .row;
  margin: 0;
  max-width: 100%;
}

input {
  background-color: rgba(0,0,0, .6);
  border: 1px solid $light-brown;
  box-shadow: 0 0 2px 1px #000;
  font-size: 12px;
  padding: 4px;
}

.alert {
  background-color: lighten($dark-red, 15%);
  font-size: 12px;
  color: $white;
  padding: 5px;
}

.button,
button {
  align-items: flex-start;
  background-color: #370e00;
  background-image: linear-gradient(to bottom, #370e00, #4c1300);
  border-top-color: #734a32;
  border: 1px solid #62351f;
  box-shadow: 0 0 0 1px #4c1300,
  0 0 3px #000;
  color: #ffcb8d;
  display: block;
  font-size: 11px;
  line-height: 20px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  text-align: center;

  &:hover {
    background-image: linear-gradient(to bottom, lighten(#370e00, 5%), lighten(#4c1300, 5%));
    border: 1px solid $orange;
    box-shadow: 0 0 0 1px lighten(#4c1300, 10%),
    0 0 3px #000;
    color: $white;
  }

  &.cancel {
    background: none;
    border: none;
    box-shadow: none;
    color: $subtitle-color;
  }
}

::placeholder {
  color: $subtitle-color;
}

.d3-tooltip-wrapper {
  * {
    box-sizing: content-box;
    font-size: 100%;
  }
}
