@mixin tooltip-background-position($count) {
  $vertical-offset: -40px * $count;
  background-position: center $vertical-offset;
  &:before { background-position: 0 $vertical-offset; }
  &:after { background-position: right $vertical-offset; }
}

.item__wrapper {
  h3 {
    color: $subtitle-color;
  }

  ul {
    margin-left: 0;
  }

  li {
    overflow: hidden;
    border-top: none;
    height: 40px;
    position: relative;

    .tooltip-background {
      background-image: url('http://us.battle.net/d3/static/images/ui/tooltip-title.jpg');
      opacity: 0.25;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;

      &:before,
      &:after {
        background-image: url('http://us.battle.net/d3/static/images/ui/tooltip-title.jpg');
        content: '';
        height: 40px;
        max-width: 230px;
        position: absolute;
        top: 0;
        width: 50%;
      }

      &:before { left: 0; }

      &:after {
        background-position: -310px;
        right: 0;
      }

      &.orange {
        @include tooltip-background-position(4);
      }
      &.green {
        @include tooltip-background-position(6);
      }
    }

    &:hover .tooltip-background { opacity: 1; }


    &:first-child {
      border-top: 1px solid $light-brown;
    }

    .tooltip-link {
      cursor: default;
      display: block;
      width: 100%;
      text-decoration: none;

      &.green { color: $green; }

      &.orange { color: $orange; }
    }

    .item-image {
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 36px;
      vertical-align: middle;
      width: 36px;
      position: absolute;
      top: 0;
      left: 5px;
    }

    .item-title {
      display: block;
      line-height: 2.5em;
      padding-left: 40px;
      padding-right: 10px;
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }

    .build-count {
      background-color: $light-brown;
      border-radius: 1000px;
      color: $cream;
      display: inline-block;
      font-size: 11px;
      font-style: italic;
      height: 20px;
      line-height: 20px;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 50%;
      margin-top: -10px;
      width: 20px;

      + .builds-tooltip {
        margin-left: 0;
        display: none;
        position: absolute;
        padding-left: 20px;
        right: -180px;
        top: 0;
        width: 200px;
        z-index: 1000;

        li {
          background-color: $black;
          border-width: 2px;
          box-shadow: 0 2px 5px 2px $black;
        }
      }

      + .builds-tooltip:hover,
      &:hover + .builds-tooltip { display: block; }
    }
  }
}
