.add-build__wrapper {
  background: rgba($black, .4);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  input { width: 100%; }

  button {
    margin-top: 5px;
    width: 100%;
  }
}
