.list__wrapper {
  user-select: none;

  .header {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }

  .title {
    display: inline-block;
    font-size: 18px;
  }

  .add-build {
    display: inline-block;
    float: right;
    vertical-align: middle;

    .text {
      color: $link-color;
      font-size: 12px;
      margin-right: 5px;
    }

    .icon-frame {
      background-color: #000;
      border-bottom: 1px solid #463419;
      border-left: 1px solid #3a2912;
      border-radius: 2px;
      border-right: 1px solid #59411c;
      border-top: 1px solid #574320;
      box-shadow: 0 0 5px #000;
      color: $orange;
      display: inline-block;
      font-size: 9px;
      line-height: 1;
      padding: 3px;
    }

    &:hover {
      .text,
      .icon-frame { color: $white; }

      .icon-frame {
        background-color: #222;
        border-color: #61461e;
      }
    }

  }

  .portrait {
    display: inline-block;
    max-height: 24px;
    vertical-align: middle;
  }

  .importing-build {
    font-style: italic;
    color: $green;
    padding-bottom: 8px;
    padding-top: 6px;
    text-align: center;

    .spinner-icon {
      animation: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      display: inline-block;
      max-height: 12px;
      vertical-align: middle;
    }

    .build-title { padding-left: 6px; }
  }

  .build-row {
    display: block;
    cursor: default;

    &:hover {
      background-color: rgba(0,0,0, .4);
    }

    .icon-frame {
      clear: both;
      float: right;
      line-height: 24px;
      transform: rotateZ(45deg);
    }
  }

  ul { margin-left: 0; }

  li {
    border-bottom: 1px solid $light-brown;
    border-top: none;
    position: relative;

    .build-title {
      font-size: 12px;
      line-height: 1;
      padding-bottom: 8px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
    }
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
