<!DOCTYPE html>
<html>
<head>
  <title>D3collector</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p>
  <% if current_user %>
    <%= link_to 'Logout', users_sign_out_path  %>
  <% else %>
    <%= link_to 'Login', user_omniauth_authorize_path(:bnet) %>
  <% end %>
  </p>

  <%= yield %>

  <script src="//us.battle.net/d3/static/js/tooltips.js"></script>
</body>
</html>
