<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>your app</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag "index" %>
    <link rel="icon" href="./assets/images/favicon.png" type="image/png">
  </head>
  <body>
    <%= yield %>
    <script src="//us.battle.net/d3/static/js/tooltips.js"></script>
    <%= javascript_include_tag "main" %>
  </body>
</html>
